.cases {
  &__wrapper {
    position: relative;
    padding-bottom: 60px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1456px;
      height: 32px;
      transform: translateX(-50%);
      background: url("./images/line-bottom.png") no-repeat center;
      background-size: contain;
    }

    @media (max-width: $middleMonitor) {
      padding-bottom: 48px;

      &::after {
        width: 1164.8px;
        height: 25.6px;
      }
    }

    @media (max-width: $smallMonitor) {
      padding-bottom: 40.8px;

      &::after {
        width: 990px;
        height: 21.76px;
      }
    }

    @media (max-width: $tablet) {
      margin-bottom: 0;
      padding-bottom: 60px;

      &::after {
        width: 752px;
        height: 19px;
      }
    }

    @media (max-width: $bigPhone) {
      padding-bottom: 65px;

      &::after {
        width: 367px;
        height: 9px;
      }
    }

    @media (max-width: $smallPhone) {
      padding-bottom: 50px;

      &::after {
        width: 313px;
        height: 8px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;
    }

    @media (max-width: $bigPhone) {
      grid-gap: 10px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 23px;
    overflow: hidden;

    @media (max-width: $middleMonitor) {
      margin-bottom: 18.4px;
    }

    @media (max-width: $smallMonitor) {
      margin-bottom: 15.64px;
    }

    @media (max-width: $tablet) {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }

    &.fr1 {
      width: 343px;
      height: 313px;

      @media (max-width: $middleMonitor) {
        width: 274.4px;
        height: 250.4px;
      }

      @media (max-width: $smallMonitor) {
        width: 233.24px;
        height: 212.84px;
      }

      @media (max-width: $tablet) {
        width: 100%;
        height: 100%;
      }
    }

    &.fr2 {
      width: 714px;
      height: 313px;

      @media (max-width: $middleMonitor) {
        width: 571.2px;
        height: 250.4px;
      }

      @media (max-width: $smallMonitor) {
        width: 485.52px;
        height: 212.84px;
      }

      @media (max-width: $tablet) {
        grid-column: 1 / -1;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.cases-frame {
  height: 100%;

  &__image {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 175, 240, .8);
    font-family: 'RobotoLight', sans-serif;
    font-size: 25px;
    color: #ffffff;

    @media (max-width: $middleMonitor) {
      font-size: 20px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 17px;
    }

    @media (max-width: $tablet) {
      font-size: 16.62px;
    }

    @media (max-width: $bigPhone) {
      font-size: 8.14px;
    }

    @media (max-width: $smallPhone) {
      font-size: 7px;
    }
  }

  &__name {
    margin-bottom: 10px;
    text-align: center;

    @media (max-width: $middleMonitor) {
      margin-bottom: 8px;
    }

    @media (max-width: $smallMonitor) {
      margin-bottom: 6.8px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 6.65px;
    }

    @media (max-width: $bigPhone) {
      margin-bottom: 3.2px;
    }

    @media (max-width: $smallPhone) {
      margin-bottom: 3px;
    }
  }
}

.cases__link:focus .cases-frame__description {
  top: 0 !important;
  left: 0 !important;
}