section#cases.cases
    div(class='cases__wrapper wrapper')
        h2(class='cases__title section-title') Кейсы
        ul(class='cases__list')
            li(class='cases__item fr1')
                a(class='cases__link' href='case.html')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-1.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') "Книга мастера" для компании L`oreal
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-2.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-3.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-4.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr2')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame fr2')
                        img(class='cases-frame__image' src='./images/case-6.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-5.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-7.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-8.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-9.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-10.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-11.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr2')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame fr2')
                        img(class='cases-frame__image' src='./images/case-12.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-13.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-14.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-15.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-16.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-17.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
            li(class='cases__item fr1')
                a(class='cases__link' href='#')
                    figure(class='cases__frame cases-frame')
                        img(class='cases-frame__image' src='./images/case-18.jpg' alt='Изображение работы')
                        figcaption(class='cases-frame__description')
                            p(class='cases-frame__name') Названние Компании
                            p(class='cases-frame__date') 2020
