.statistics {
  &__wrapper {
    padding-top: 94px;

    @media (max-width: $middleMonitor) {
      padding-top: 70px;
    }

    @media (max-width: $smallMonitor) {
      padding-top: 53px;
    }

    @media (max-width: $tablet) {
      padding-top: 40px;
      padding-bottom: 100px;
    }

    @media (max-width: $bigPhone) {
      width: 354px;
      padding: 0 10px 60px;
    }

    @media (max-width: $smallPhone) {
      width: 302px;
      padding: 0 7px 44px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__group {
    position: relative;
  }
  
  &__term {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 113.96px;
    line-height: 100%;
    color: #00aeef;

    @media (max-width: $middleMonitor) {
      font-size: 87.5px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 66.22px;
    }

    @media (max-width: $tablet) {
      font-size: 60px;
      text-align: center;
    }

    @media (max-width: $bigPhone) {
      font-size: 30px;
    }

    @media (max-width: $smallPhone) {
      font-size: 26px;
    }
  }
  
  &__definition {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 31.31px;
    line-height: 43.35px;
    color: #504e53;
    white-space: nowrap;
    text-align: center;

    @media (max-width: $middleMonitor) {
      font-size: 24.04px;
      line-height: 33.29px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 18.2px;
      line-height: 25.19px;
    }

    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 120%;
    }

    @media (max-width: $bigPhone) {
      font-size: 11px;
    }

    @media (max-width: $smallPhone) {
      font-size: 10px;
    }
  }
}