.statistics {

  &__wrapper {
    padding-top: 94px;

    @media (max-width: $middleMonitor) {
      padding-top: 70px;
    }

    @media (max-width: $smallMonitor) {
      padding-top: 53px;
    }

    @media (max-width: $tablet) {
      width: 726px;
      padding-top: 95px;
      padding-bottom: 210px;
    }

    @media (max-width: $bigPhone) {
      width: 354px;
      padding-top: 48px;
      padding-bottom: 110px;
    }

    @media (max-width: $smallPhone) {
      width: 302px;
      padding-top: 40px;
      padding-bottom: 93px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 170px;
    }

    @media (max-width: $bigPhone) {
      grid-row-gap: 83px;
    }

    @media (max-width: $smallPhone) {
      grid-row-gap: 70px;
    }
  }

  &__group {
    position: relative;
  }
  
  &__term {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 113.96px;
    line-height: 100%;
    color: #00aeef;

    @media (max-width: $middleMonitor) {
      font-size: 87.5px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 66.22px;
    }

    @media (max-width: $tablet) {
      font-size: 117.92px;
      text-align: center;
    }

    @media (max-width: $bigPhone) {
      font-size: 57.58px;
    }

    @media (max-width: $smallPhone) {
      font-size: 49.13px;
    }
  }
  
  &__definition {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 31.31px;
    line-height: 43.35px;
    color: #504e53;
    white-space: nowrap;
    text-align: center;

    @media (max-width: $middleMonitor) {
      font-size: 24.04px;
      line-height: 33.29px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 18.2px;
      line-height: 25.19px;
    }

    @media (max-width: $tablet) {
      font-size: 45.18px;
      line-height: 44.86px;
    }

    @media (max-width: $bigPhone) {
      font-size: 22.06px;
      line-height: 21.91px;
    }

    @media (max-width: $smallPhone) {
      font-size: 18.82px;
      line-height: 18.69px;
    }
  }
}