.statistics {

  &__wrapper {

    @media (max-width: $tablet) {
      width: 650px;
    }

    @media (max-width: $bigPhone) {
      width: 354px;
      height: 234px;
      margin-top: 48px;
    }

    @media (max-width: $smallPhone) {
      width: 302px;
      height: 200px;
      margin-top: 39px;
    }
  }
}

.statistics-table {
  position: relative;
  width: 100%;

  &__row:first-child {
    @media (max-width: $bigPhone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 83px;
      width: 354px;
    }

    @media (max-width: $smallPhone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 71px;
      width: 302px;
    }
  }

  &__row:last-child {
    @media (max-width: $bigPhone) {
      position: absolute;
      top: 55px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 83px;
      width: 354px;
    }

    @media (max-width: $smallPhone) {
      position: absolute;
      top: 45px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 71px;
      width: 302px;
    }
  }

  &__th {
    height: 181px;
    font-family: "Roboto Black", sans-serif;
    font-size: 113.96px;
    line-height: 70%;
    color: #00aeef;
    vertical-align: bottom;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    @media (max-width: $middleMonitor) {
      height: 144.8px;
      font-size: 91.16px;
    }

    @media (max-width: $smallMonitor) {
      height: 123px;
      font-size: 77.48px;
    }

    @media (max-width: $bigTablet) {
      height: 117.8px;
      font-size: 64.4px;
      line-height: 70%;
    }

    @media (max-width: $tablet) {
      height: 82.46px;
      font-size: 57px;
    }

    @media (max-width: $bigPhone) {
      display: flex;
      justify-content: center;
      height: auto;
      font-size: 57px;
    }

    @media (max-width: $smallPhone) {
      font-size: 49.13px;
    }
  }

  &__td {
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 31.31px;
    line-height: 43.35px;
    color: #504e53;
    text-align: center;
    vertical-align: top;

    &:first-child {
      position: relative;
      left: -55px;
    }

    &:last-child {
      position: relative;
      right: -70px;
    }

    @media (max-width: $middleMonitor) {
      padding-top: 20px;
      font-size: 25.06px;
      line-height: 34.68px;

      &:first-child {
        left: -44px;
      }
      &:last-child {
        right: -56px;
      }
    }

    @media (max-width: $smallMonitor) {
      padding-top: 17px;
      font-size: 21.3px;
      line-height: 29.47px;

      &:first-child {
        left: -37.4px;
      }
      &:last-child {
        right: -47.6px;
      }
    }

    @media (max-width: $bigTablet) {
      padding-top: 14.25px;
      font-size: 17.7px;
      line-height: 24.5px;

      &:first-child {
        left: -38px;
      }
      &:last-child {
        right: -38px;
      }
    }

    @media (max-width: $tablet) {
      padding-top: 9.97px;
      font-size: 17px;
      line-height: 20px;

      &:first-child {
        left: -20.6px;
      }
      &:last-child {
        right: -28.6px;
      }
    }

    @media (max-width: $bigPhone) {
      display: flex;
      justify-content: center;
      padding-top: 0;
      font-size: 22.06px;
      line-height: 21.91px;

      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
    }

    @media (max-width: $smallPhone) {
      font-size: 18.82px;
      line-height: 18.69px;
    }
  }
}