section.statistics
    div(class='statistics__wrapper wrapper')
        h2.visually-hidden Статистика компании
        table(class='statistics__table statistics-table')
            tr(class='statistics-table__row')
                th#statistics-number-1(class='statistics-table__th') 1687
                th#statistics-number-2(class='statistics-table__th') 17
                th#statistics-number-3(class='statistics-table__th') 87
                th#statistics-number-4(class='statistics-table__th') 564
            tr(class='statistics-table__row')
                td(class='statistics-table__td') Проекта
                    br(class='statistics-table__br')
                    | реализовано
                td(class='statistics-table__td') Лет на рынке
                td(class='statistics-table__td') Уникальных
                    br(class='statistics-table__br')
                    | проектов
                td(class='statistics-table__td') Клиента
                    br(class='statistics-table__br')
                    | по всему миру