section.statistics
    .statistics__wrapper.wrapper
        h2.visually-hidden Статистика компании
        dl.statistics__list
            .statistics__group
                dt.statistics__term.statistics-number-1 1687
                dd.statistics__definition Проекта
                    br.statistics__br
                    | реализовано
            .statistics__group
                dt.statistics__term.statistics-number-2 17
                dd.statistics__definition Лет на рынке
            .statistics__group
                dt.statistics__term.statistics-number-3 87
                dd.statistics__definition Уникальных
                    br.statistics__br
                    | проектов
            .statistics__group
                dt.statistics__term.statistics-number-4 864
                dd.statistics__definition Клиента
                    br.statistics__br
                    | по всему миру