.case-page .page__header,
.blog-page .page__header {
  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $bigPhone) {
    margin-bottom: 0;
  }
}

/*--------------header top--------------------*/

.page__header {
  top: 0;
  left: 50%;
  width: 100%;
  background: #ffffff;
  z-index: 10;

  @media (max-width: 1000px) {
    position: fixed;
    transform: translateX(-50%);
  }
}

.header__top,
.header__bottom {
  border-bottom: 1px solid #a2a1a4;
}

.header__top {
  @media (max-width: $bigPhone) {
    position: relative;
    border-bottom: 1px solid #6e6e6e;
  }
}

.header__top .header__wrapper {
  display: flex;
  height: 150px;

  @media (max-width: $middleMonitor) {
    height: 120px;
  }

  @media (max-width: $smallMonitor) {
    height: 102px;
  }

  @media (max-width: $tablet) {
    width: 93.75vw;
  }

  @media (max-width: $bigPhone) {
    align-items: center;
    height: 55px;
  }
}

.header__logo {
  margin-top: 22px;
  margin-right: 43px;

  @media (max-width: $middleMonitor) {
    margin-top: 16.6px;
    margin-right: 34.4px;
  }

  @media (max-width: $smallMonitor) {
    margin-top: 14.11px;
    margin-right: 29.24px;
  }

  @media (max-width: $bigPhone) {
    margin: 0;
  }
}

.logo__img {
  width: 258px;
  height: 81px;

  @media (max-width: $middleMonitor) {
    width: 206.4px;
    height: 64.8px;
  }

  @media (max-width: $smallMonitor) {
    width: 175.1px;
    height: 55.08px;
  }

  @media (max-width: $bigPhone) {
    width: 104px;
    height: 34px;
  }

  @media (max-width: $smallPhone) {
    width: 89px;
    height: 29px;
  }
}

.header__only-mobile-number {
  display: none;

  @media (max-width: $bigPhone) {
    position: relative;
    display: block;
    margin-left: auto;
    padding-left: 23px;
    font-family: 'RobotoLight', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #000000;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 17px;
      height: 17px;
      background: url("../images/mobile-icon/phone-black.svg") no-repeat center;
      background-size: cover;
    }
  }

  @media (max-width: $smallPhone) {
    font-size: 14px;
    padding-left: 19px;

    &::before {
      width: 14px;
      height: 14px;
    }
  }
}

.header__top-navigation {
  align-self: center;

  @media (max-width: 950px) {
    display: none;
  }
}

.top-navigation__list {
  display: flex;
  margin-top: 10px;
  list-style: none;

  @media (max-width: $middleMonitor) {
    margin-top: 8px;
  }

  @media (max-width: $smallMonitor) {
    margin-top: 6.8px;
  }
}

.top-navigation__item {
  position: relative;
  padding: 0 23px;
  transition: .2s ease-out;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    right: 0;
    width: 2px;
    height: 22px;
    background-color: #74a9ec;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  @media (max-width: $middleMonitor) {
    padding: 0 18.4px;

    &::after {
      width: 1.6px;
      height: 17.6px;
    }
  }

  @media (max-width: $smallMonitor) {
    padding: 0 15.64px;

    &::after {
      width: 1.6px;
      height: 14.96px;
    }
  }
}

.top-navigation__link {
  font-family: "RobotoLight", sans-serif;
  text-transform: uppercase;
  font-size: 21.53px;
  line-height: 26.41px;
  text-decoration: none;
  color: #9c9c9c;
  transition: .2s ease-out;

  &:hover,
  &:focus {
    color: #58585a;
  }

  @media (max-width: $middleMonitor) {
    font-size: 17.22px;
  }

  @media (max-width: $smallMonitor) {
    font-size: 14.6px;
  }
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 280px;
  margin-left: auto;

  @media (max-width: $middleMonitor) {
    min-width: 224px;
  }

  @media (max-width: $smallMonitor) {
    min-width: 190.4px;
  }

  @media (max-width: $bigPhone) {
    width: 100%;
    align-items: center;
  }
}

.header-contacts__link {
  position: relative;
  padding-right: 37px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #868786;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $middleMonitor) {
    padding-right: 29.6px;
  }

  @media (max-width: $smallMonitor) {
    padding-right: 25.16px;
  }

  @media (max-width: $bigPhone) {
    color: #ffffff;
    padding-right: 10vw;
  }
}

.header-contacts__link--call {
  font-size: 29.21px;
  line-height: 33.22px;
  margin-top: 16px;
  margin-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 25px;
    height: 40px;
    background-image: url('./images/link--call.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: $middleMonitor) {
    font-size: 23.36px;
    line-height: 26.57px;
    margin-top: 12.8px;
    margin-bottom: 8px;

    &::after {
      width: 20px;
      height: 32px;
    }
  }

  @media (max-width: $smallMonitor) {
    font-size: 19.85px;
    line-height: 22.58px;
    margin-top: 10.088px;
    margin-bottom: 6.8px;

    &::after {
      width: 17px;
      height: 27.2px;
    }
  }

  @media (max-width: $bigPhone) {
    margin: 0;
    margin-bottom: 1vw;
    font-size: 7vw;
    line-height: 150%;

    &::after {
      top: 50%;
      transform: translateY(-60%);
      right: 0;
      width: 7vw;
      height: 7vw;
      background-image: url('./images/mobile-icon/phone.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.header-contacts__link--whatsapp {
  font-size: 20px;
  line-height: 33.22px;

  &::before {
    content: "WhatsApp";
    position: absolute;
    bottom: -20px;
    right: 45px;
    width: 55px;
    height: 36px;
    font-family: 'RobotoLight', sans-serif;
    font-size: 14px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 34px;
    height: 36px;
    background-image: url('./images/link--whatsapp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: $middleMonitor) {
    font-size: 16px;
    line-height: 26.57px;

    &::before {
      bottom: -16px;
      right: 36px;
      width: 44px;
      height: 28.8px;
      font-size: 11.2px;
    }

    &::after {
      width: 27.2px;
      height: 28.8px;
    }
  }

  @media (max-width: $smallMonitor) {
    font-size: 13.6px;
    line-height: 22.58px;

    &::before {
      bottom: -13.6px;
      right: 30.6px;
      width: 37.4px;
      height: 24.48px;
      font-size: 9.52px;
    }

    &::after {
      width: 23.12px;
      height: 24.48px;
    }
  }

  @media (max-width: $bigPhone) {
    font-size: 5vw;
    line-height: 150%;

    &::before {
      content: "WhatsApp";
      position: absolute;
      bottom: -17vw;
      right: 0;
      width: 30vw;
      height: 20vw;
      font-family: 'RobotoLight', sans-serif;
      font-size: 4vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      right: 0;
      width: 7.5vw;
      height: 7.5vw;
      background-image: url('./images/mobile-icon/whatsapp.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.header-contacts__link--write {
  font-size: 17px;
  line-height: 59.28px;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 26px;
    height: 24px;
    background-image: url('./images/link--write.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: $middleMonitor) {
    font-size: 13.6px;
    line-height: 47.42px;

    &::after {
      top: 10.4px;
      width: 20.8px;
      height: 19.2px;
    }
  }

  @media (max-width: $smallMonitor) {
    font-size: 11.56px;
    line-height: 40.30px;

    &::after {
      top: 8.84px;
      width: 16.68px;
      height: 16.32px;
    }
  }

  @media (max-width: $bigPhone) {
    display: none;
  }
}

.header__toggle-button {
  display: none;

  @media (max-width: $bigPhone) {
    position: relative;
    align-self: center;
    display: block;
    width: 30px;
    height: 20px;
    padding: 10px 0;
    border: none;
    background: transparent;
    margin-left: 30px;
    z-index: 100;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #6e6e6e;
      transition: .3s ease;
    }

    &::before {
      top: 0;
      box-shadow: 0 9px 0 0 #00aeef;
    }

    &::after {
      bottom: 0;
    }

    &--active {
      &::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        box-shadow: none;
        background: #ffffff;
      }

      &::after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        background: #ffffff;
      }
    }
  }

  @media (max-width: $smallPhone) {
    margin-left: 25px;
  }
}

/*--------------header bottom--------------------*/

.header__bottom {
  @media (max-width: $bigPhone) {
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    margin: -1px;
    border: none;
    overflow: hidden;
  }
}

.header__bottom .header__wrapper {
  display: flex;
  align-items: center;
  height: 67px;

  @media (max-width: $middleMonitor) {
    height: 53.6px;
  }

  @media (max-width: $smallMonitor) {
    height: 45.56px;
  }

  @media (max-width: $tablet) {
    width: 93.75vw;
  }

  @media (max-width: $bigPhone) {
    height: 0;
  }
}

.bottom-navigation {
  flex-grow: 1;

  @media (max-width: $bigPhone) {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 55px;
    background-color: #00aeef;
    transition: .3s ease;
  }

  &--active {
    left: 0;
  }
}

.bottom-navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media (max-width: $bigPhone) {
    flex-direction: column;
  }

  @media (max-width: $bigPhone) {
    position: relative;
    align-items: center;
    margin-bottom: 5vw;
    padding-bottom: 5vw;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50vw;
      height: 1px;
      background-color: #ffffff;
    }
  }
}

.bottom-navigation__item:last-child {
  margin-right: 55px;

  @media (max-width: $middleMonitor) {
    margin-right: 44px;
  }

  @media (max-width: $smallMonitor) {
    margin-right: 37.4px;
  }

  @media (max-width: $bigPhone) {
    margin-right: 0;
  }
}

.bottom-navigation__link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: #868786;
  transition: .2s ease;

  &::after {
    display: none;
    content: '';
    position: absolute;
    bottom: -2px;
    left: -1px;
    height: 3px;
    width: 15px;
    background: #00d1e0;
  }

  &:hover,
  &:focus {
    color: #58585a;

    &::after {
      display: block;
    }
  }

  @media (max-width: $middleMonitor) {
    font-size: 18.4px;
  }

  @media (max-width: $smallMonitor) {
    font-size: 15.64px;
  }

  @media (max-width: $bigPhone) {
    color: #ffffff
  }

  @media (max-width: $bigPhone) {
    font-size: 7vw;
    line-height: 150%;

    &:hover,
    &:focus {
      color: #ffffff;

      &::after {
        display: none;
      }
    }
  }
}

.header__social {
  margin-left: auto;

  @media (max-width: $bigPhone) {
    margin: 0;
    margin-top: 8vw;
  }
}

.header-social__list {
  display: flex;
  justify-content: space-between;
  width: 122px;
  height: 36px;
  list-style: none;

  @media (max-width: $middleMonitor) {
    width: 97.6px;
    height: 28.8px;
  }

  @media (max-width: $smallMonitor) {
    width: 82.96px;
    height: 24.48px;
  }

  @media (max-width: $bigPhone) {
    width: 38vw;
    height: auto;
  }
}

.header-social__link {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #a2a1a4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s ease-in-out;

  &:hover,
  &:focus {
    border: 1px solid #00d1e0;
    background-color: #00d1e0;
  }

  @media (max-width: $middleMonitor) {
    width: 28.8px;
    height: 28.8px;
  }

  @media (max-width: $smallMonitor) {
    width: 24.48px;
    height: 24.48px;
  }

  @media (max-width: $bigPhone) {
    width: 10vw;
    height: 10vw;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    transition: none;

    &:hover,
    &:focus {
      border: 1px solid #ffffff;
      background-color: transparent;
    }
  }
}

.header-social__link--inst {
  background-image: url("./images/inst-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  &:hover,
  &:focus {
    background-image: url("./images/inst-ico-color.png");
  }

  @media (max-width: $smallMonitor) {
    background-position: center;
  }

  @media (max-width: $bigPhone) {
    background-image: url("./images/mobile-icon/instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }
}

.header-social__link--fb {
  background-image: url("./images/f-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;

  &:hover,
  &:focus {
    background-image: url("./images/f-ico-color.png");
  }

  @media (max-width: $bigPhone) {
    background-image: url("./images/mobile-icon/facebook-f.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

    &:hover,
    &:focus {
      background-image: url("./images/mobile-icon/facebook-f.svg");
    }
  }
}

.header-social__link--map {
  background-image: url("./images/link-map-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;

  @media (max-width: $smallMonitor) {
    background-position: 5px, center;
  }

  @media (max-width: $bigPhone) {
    background-image: url("./images/mobile-icon/location.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }
}