section#about-us.about-us
    .about-us__wrapper.wrapper
        h2.visually-hidden О нашей компании
        p.about-us__description
            | «Студия Колор Бокс» оказывает полный комплекс рекламных и полиграфических услуг корпоративным и частным
            | клиентам: анимация, презентации, видео, дизайн, верстка, препресс, разработка POS материалов, цифровая,
            | офсетная и широкоформатная печать, изготовление сувенирной продукции
