.case-images {
  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 70px;

    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }

    @media (max-width: $bigPhone) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 130px;

      @media (max-width: $tablet) {
        margin-bottom: 70px;
      }

      @media (max-width: $bigPhone) {
        margin-bottom: 50px;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__video {
    display: block !important;
    width: 100% !important;
    height: 810.56px !important;
    border: none !important;

    @media (max-width: $middleMonitor) {
      height: 648.56px !important;
    }

    @media (max-width: $smallMonitor) {
      height: 551.27px !important;
    }

    @media (max-width: $tablet) {
      height: 408.37px !important;
    }

    @media (max-width: $bigPhone) {
      height: 199.68px !important;
    }

    @media (max-width: $smallPhone) {
      height: 169.87px !important;
    }
  }
}