section.case-images
    h2.visually-hidden Галерея изображений
    .case-images__wrapper.wrapper
        ul.case-images__list
            li.case-images__item
                iframe(class='case-images__video' src='https://www.youtube.com/embed/AlQ4AvKRdA0' title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            li.case-images__item
                img(class='case-images__image' src='./images/examples/2.jpg' alt='Изображение работы')
            li.case-images__item
                img(class='case-images__image' src='./images/examples/3.jpg' alt='Изображение работы')
            li.case-images__item
                img(class='case-images__image' src='./images/examples/4.jpg' alt='Изображение работы')