section.case-images
    h2.visually-hidden Галерея изображений
    .case-images__wrapper.wrapper
        ul.case-images__list
            li.case-images__item
                img(class='case-images__image' src='./images/examples/1.jpg' alt='Изображение работы')
            li.case-images__item
                img(class='case-images__image' src='./images/examples/2.jpg' alt='Изображение работы')
            li.case-images__item
                img(class='case-images__image' src='./images/examples/3.jpg' alt='Изображение работы')
            li.case-images__item
                img(class='case-images__image' src='./images/examples/4.jpg' alt='Изображение работы')