section(id='production' class='production slider' data-slider="chiefsliderr")
    h2(class='production__title section-title') Производство
    div(class='production__container slider__wrapper')
        button(class='slider__button slider__button--left slider__control' data-slide="prev" aria-label='кнопка слайдера влево')
        button(class='slider__button slider__button--right slider__control' data-slide="next" aria-label='кнопка слайдера вправо')
        ul(class='production__list slider__items')
            li(class='production__item slider__item')
                a(class='production__link' href='')
                    img(class='production__image' src='./images/production/preview_typ_5.jpg' alt='Визитки')
                    p(class='production__description') Визитки
            li(class='production__item slider__item')
                a(class='production__link' href='')
                    img(class='production__image' src='./images/production/preview_typ_4.jpg' alt='Буклеты и листовки')
                    p(class='production__description') Буклеты и листовки
            li(class='production__item slider__item')
                a(class='production__link' href='')
                    img(class='production__image' src='./images/production/preview_typ_3.jpg' alt='Приглашения и открытки')
                    p(class='production__description') Приглашения и открытки
            li(class='production__item slider__item')
                a(class='production__link' href='')
                    img(class='production__image' src='./images/production/preview_typ_2.jpg' alt='Журналы')
                    p(class='production__description') Журналы
            li(class='production__item slider__item')
                a(class='production__link' href='')
                    img(class='production__image' src='./images/production/preview_typ_1.jpg' alt='Календари')
                    p(class='production__description') Календари