@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
  url("../fonts/Roboto-Black.woff") format("woff"),
  url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoMedium.woff") format("woff"),
  url("../fonts/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
  url("../fonts/roboto-bold.woff") format("woff"),
  url("../fonts/roboto-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url("../fonts/ProximaNovaT-Thin.woff") format("woff"),
  url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'MyriadProLight';
  src: url("../fonts/MyriadPro-Light.woff") format("woff"),
  url("../fonts/Myriad-Pro-Light_31642.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

//$middleMonitor: 1850px;
$middleMonitor: 2100px;
$smallMonitor: 1400px;
$tablet: 1080px;
$bigPhone: 767px;
$smallPhone: 374px;

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  overflow: hidden;
}

.section-title {
  margin-top: 25px;
  margin-bottom: 75px;
  font-family: 'RobotoLight', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

.wrapper {
  width: 1441px;
  margin: 0 auto;
}

@media (max-width: $middleMonitor) {
  .wrapper {
    width: 1153px;
  }
  .section-title {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 40px;
  }
}

@media (max-width: $smallMonitor) {
  .wrapper {
    width: 980.05px;
  }
  .section-title {
    margin-top: 17px;
    margin-bottom: 51px;
    font-size: 34px;
  }
}

@media (max-width: $tablet) {
  .wrapper {
    width: 726px;
  }
  .section-title {
    margin-top: 39.9px;
    margin-bottom: 75px;
    font-size: 28.22px;
    line-height: 14.59px;
  }
}

@media (max-width: $bigPhone) {
  .wrapper {
    width: 355px;
  }
  .section-title {
    margin-top: 19.5px;
    margin-bottom: 34.3px;
    font-size: 20px;
    line-height: 9.7px;
  }
}

@media (max-width: $smallPhone) {
  .wrapper {
    width: 302px;
  }
  .section-title {
    margin-top: 16.5px;
    margin-bottom: 29px;
    font-size: 17px;
    line-height: 8.2px;
  }
}

@import "slider-bottons";
@import "../components/modules/header/header";
@import "../components/modules/introduction/introduction";
@import "../components/modules/statistics/statistics";
@import "../components/modules/about-us/about-us";
@import "../components/modules/services/services";
@import "../components/modules/cases/cases";
@import "../components/modules/blog/blog";
@import "../components/modules/clients/clients";
@import "../components/modules/production/production";
@import "../components/modules/questions/questions";
@import "../components/modules/contacts/contacts";
@import "../components/modules/modal-window/modal";
