extends ../layout/main

block variables
  - var title = 'Color Box';
  - var description = 'Студия Колор Боркс - рекламные и полиграфические услуги для корпоративных и частных клиентов';
  - var keywords = 'анимацияб презентация видео, дизайн, верстка, препресс, разработка POS материалов, цифровая, офсетная и широкоформатная печать, изготовление сувенерной продукции';
  - var pageClass = 'blog-page';

block content
    include ../modules/header/header

    main(class="page__blog")
        include ../modules/level-two-introduction/level-two-introduction
        include ../modules/blog-content/blog-content
        include ../modules/come-back/come-back