section#contacts.contacts
    div(class='contacts__wrapper wrapper')
        h2(class='contacts__title section-title') Контакты
        div(class='contacts__address address')
            p(class='address__company-name') ООО "Студия Колор Бокс"
            p(class='address__description') 127991, г. Москва, Бумажный проезд, дом 14, строение 2
            a(class='address__link' href='#') Учетная карточка
        div(class='contacts__map')
            iframe(class='contacts__iframe' src='https://yandex.ru/map-widget/v1/-/CCQ~74vJ0D')