.services {
  padding-top: 190px;

  @media (max-width: $middleMonitor) {
    padding-top: 150px;
  }

  @media (max-width: $smallMonitor) {
    padding-top: 110px;
  }

  @media (max-width: $tablet) {
    padding-top: 60px;
  }

  @media (max-width: $bigPhone) {
    padding-top: 40px;
  }

  @media (max-width: $smallPhone) {
    padding-top: 30px;
  }

  &__wrapper {
    position: relative;
    padding-bottom: 85px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1456px;
      height: 32px;
      transform: translateX(-50%);
      background: url("./images/line-bottom.png") no-repeat center;
      background-size: contain;
    }

    @media (max-width: $middleMonitor) {
      margin-bottom: 65px;

      &::after {
        width: 1164.8px;
        height: 25.6px;
      }
    }

    @media (max-width: $smallMonitor) {
      margin-bottom: 50px;

      &::after {
        width: 990px;
        height: 21.76px;
      }
    }

    @media (max-width: $tablet) {
      padding: 0;
      margin-bottom: 70px;

      &::after {
        display: none;
      }
    }

    @media (max-width: $bigPhone) {
      margin-bottom: 35px;

      &::after {
        width: 367px;
        height: 9px;
      }
    }

    @media (max-width: $smallPhone) {
      margin-bottom: 25px;

      &::after {
        width: 313px;
        height: 8px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: space-between;
      grid-row-gap: 40px;
    }

    @media (max-width: $bigPhone) {
      grid-row-gap: 20px;
    }

    @media (max-width: $smallPhone) {
      grid-row-gap: 16px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 234px;
    height: 238px;
    margin-right: 60px;
    margin-bottom: 67px;
    background: url("./images/service/mobile/znak.png") no-repeat center;
    background-size: cover;
    font-family: "RobotoLight", sans-serif;
    font-size: 34.4px;
    line-height: 90%;
    font-weight: 400;
    text-transform: uppercase;
    color: #3a3a39;
    white-space: nowrap;

    &:nth-child(5n) {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -45%);
      width: 218px;
      height: 218px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 1;
    }

    &--idea::before {
      background-image: url("./images/service/mobile/idea-mobil.svg");
    }

    &--design::before {
      background-image: url("./images/service/mobile/disain-mobil.svg");
    }

    &--prepress::before {
      background-image: url("./images/service/mobile/prepress-mobil.svg");
    }

    &--animation::before {
      background-image: url("./images/service/mobile/animation-mobil.svg");
    }

    &--video::before {
      background-image: url("./images/service/mobile/video-mobil.svg");
    }

    &--presentations::before {
      background-image: url("./images/service/mobile/presintations-mobil.svg");
    }

    &--modeling::before {
      background-image: url("./images/service/mobile/visialization-mobil.svg");
    }

    &--production::before {
      background-image: url("./images/service/mobile/prodaction-mobil.svg");
    }

    &--packaging::before {
      background-image: url("./images/service/mobile/packing-mobil.svg");
    }

    &--souvenirs::before {
      background-image: url("./images/service/mobile/suvenir-mobil.svg");
    }

    @media (max-width: $middleMonitor) {
      width: 178px;
      height: 183px;
      margin-right: 60px;
      margin-bottom: 51px;
      font-size: 26.41px;

      &::before {
        width: 167px;
        height: 167px;
      }
    }

    @media (max-width: $smallMonitor) {
      width: 136px;
      height: 138px;
      margin-right: 40px;
      margin-bottom: 40px;
      font-size: 20px;

      &::before {
        width: 127px;
        height: 127px;
      }
    }

    @media (max-width: $tablet) {
      width: 126px;
      height: 129px;
      margin-right: 0;
      margin-bottom: 0;
      background: url("./images/service/mobile/znak.png") no-repeat center;
      background-size: cover;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 21px;
      line-height: 90%;

      &::before {
        width: 120px;
        height: 120px;
      }
    }

    @media (max-width: $bigPhone) {
      width: 62px;
      height: 63px;
      font-size: 10.31px;

      &::before {
        width: 60px;
        height: 60px;
      }
    }

    @media (max-width: $smallPhone) {
      width: 52px;
      height: 53px;
      font-size: 8.8px;

      &::before {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.index-page .services__item--souvenirs {
  @media (max-width: $tablet) {
    display: none;
  }
}

.index-page .services__item--video {
  @media (max-width: $tablet) {
    display: none;
  }
}

.page__case {

  .services {
    //padding-top: 56px;
    //padding-bottom: 0;
    //
    //@media (max-width: $smallMonitor) {
    //  padding-top: 40px;
    //}
    //
    //@media (max-width: $tablet) {
    //  padding-top: 40px;
    //  padding-bottom: 60px;
    //}
    //
    //@media (max-width: $bigPhone) {
    //  padding-top: 30px;
    //  padding-bottom: 45px;
    //}
    //
    //&__wrapper {
    //  padding-bottom: 0;
    //  margin-bottom: 0;
    //
    //  &::after {
    //    display: none;
    //  }
    //}
    //
    &__list {
      justify-content: center;

      @media (max-width: $tablet) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-row-gap: 0;
      }
    }

    &__item {
      margin: auto;
      margin-bottom: 4vw;
    }

    //
    //&__item {
    //  width: 115px;
    //  height: 118.95px;
    //  font-size: 18px;
    //  margin-right: 60px;
    //  margin-bottom: 76px;
    //  font-family: 'RobotoLight', sans-serif;
    //
    //  &:last-child {
    //    margin-right: 0;
    //  }
    //
    //  &::before {
    //    width: 102.95px;
    //    height: 102.95px;
    //  }
    //
    //  @media (max-width: $smallMonitor) {
    //    width: 88.4px;
    //    height: 90.4px;
    //    font-size: 14px;
    //    margin-right: 40px;
    //    margin-bottom: 56px;
    //
    //    &:last-child {
    //      margin-right: 0;
    //    }
    //
    //    &::before {
    //      width: 82.55px;
    //      height: 82.55px;
    //    }
    //  }
    //
    //  @media (max-width: $tablet) {
    //    width: 130px;
    //    height: 131.3px;
    //    font-size: 16px;
    //    margin: 0 27.5px 55px;
    //
    //    &:nth-child(4n) {
    //      margin: 0 27.5px 55px;
    //    }
    //
    //    &:last-child {
    //      margin: 0 27.5px 55px;
    //    }
    //
    //    &::before {
    //      width: 119.2px;
    //      height: 119.2px;
    //    }
    //  }
    //
    //  @media (max-width: $bigPhone) {
    //    width: 95.55px;
    //    height: 99.55px;
    //    font-size: 14px;
    //    margin: 0 11px 25px;
    //
    //    &:nth-child(4n) {
    //      margin: 0 11px 25px;
    //    }
    //
    //    &:last-child {
    //      margin: 0 11px 25px;
    //    }
    //
    //    &::before {
    //      width: 84.5px;
    //      height: 84.5px;
    //    }
    //  }
    //
    //  @media (max-width: $smallPhone) {
    //    width: 81.9px;
    //    height: 83.85px;
    //    font-size: 13px;
    //    margin: 0 9px 18px;
    //
    //    &:nth-child(4n) {
    //      margin: 0 9px 18px;
    //    }
    //
    //    &:last-child {
    //      margin: 0 9px 18px;
    //    }
    //
    //    &::before {
    //      width: 78px;
    //      height: 78px;
    //    }
    //  }
    //}
  }
}