section#services.services
    div(class='services__wrapper wrapper')
        h2.visually-hidden Услуги
        ul(class='services__list')
            li(class='services__item services__item--idea') Идея
            li(class='services__item services__item--design') Дизайн
            li(class='services__item services__item--prepress') Препресс
            li(class='services__item services__item--animation') Анимация
            li(class='services__item services__item--video') Видео
            li(class='services__item services__item--presentations') Презентации
            li(class='services__item services__item--modeling') Визуализация
            li(class='services__item services__item--production') Полиграфия
            li(class='services__item services__item--packaging') Упаковка
            li(class='services__item services__item--souvenirs') Сувениры