section.blog-content
    .blog-content__wrapper.wrapper
        h2.blog-content__title.visually-hidden "Блог"
        img(class="blog-content__image" alt="Изображение упаковки" src="./images/examples/1.jpg")
        p.blog-content__paragraph Кто бы что ни говорил, встречают по одежке. И так будет всегда, потому что
            |именно так устроен человек – инстинктивно с первого взгляда оценивать: друг или…
            |Товарная упаковка – та же «одежка». И здесь работают те же «законы привлекательности», которые
            |помогают потенциальному потребителю/покупателю распознать «своих».
        p.blog-content__paragraph Разработка упаковки товара, пожалуй, не менее важна, чем разработка дизайна
            |самого товара. По меньшей мере, она должна соответствовать практически тем же 5 критериям.
        p.blog-content__paragraph
            strong(class="blog-content__paragraph--black")
                = '1. Отображать суть товара. '
            |Ведь именно упаковка привлекает или, напротив,
            |делает товар незаметным. При этом даже самый минималистичный вариант, быть может, с единственной
            |надписью или логотипом где-нибудь в уголке, как правило, очень продуманный – например, если упаковка
            |ослепительно белая, мы считываем, что это, возможно, высокотехнологичный гаджет, а если по цвету
            |и текстуре она напоминает крафт-бумагу, мы сразу чувствуем что-то домашнее, сделанное с любовью
            |чьими-то руками. Большинству товаров все же требуется информационное сопровождение, помимо чисто
            |интуитивного первого ощущения. И это «работа» упаковки: она берет на себя роль молчаливого
            |продавца-консультанта (тем более что говорящий продавец-консультант не всегда доступен…).
            |Лаконично и ярко она объясняет не только ЧТО внутри, но главным образом ЗАЧЕМ это нужно покупателю.
        img(class="blog-content__image" alt="Изображение упаковки" src="./images/examples/1.jpg")
        p.blog-content__paragraph
            strong.blog-content__paragraph--black
                = '2. Отображать ценности и стиль жизни целевой аудитории. '
            |Упаковка помогает покупателю и продавцу найти друг друга, выцепить продукт взглядом из общего ряда подобных.
            |Поэтому только четкое понимание, кто конечный потребитель и на что он обращает внимание, позволит
            |создать грамотный креатив – динамичный или расслабленный, яркий или в приглушенных, пастельных тонах.
            |Если ваш покупатель – осознанный потребитель, тогда стоит обозначить на лаконичной упаковке,
            |что и компания разделяет эти ценности и использует, например перерабатываемые материалы.
        p.blog-content__paragraph
            strong.blog-content__paragraph--black
                = '3. Отображать статус. '
            |Вернемся к «одежке», с которой начинался разговор.
            |Дорогому товару нужна дорогая упаковка – с точки зрения не себестоимости материалов, а стиля.
            |Упаковка – это ярлык ценовой категории товара. И это вопрос не просто цены, а ценности:
            |люди и себя как потребителей соотносят с соответствующей категорией. При этом качественная,
            |достойная упаковка массовых товаров всегда привлекает больше потребительского интереса и становится
            |аргументом в пользу покупки – нам нравится, когда нас ценят.
        img(class="blog-content__image" alt="Изображение упаковки" src="./images/examples/1.jpg")
        p.blog-content__paragraph
            strong.blog-content__paragraph--black
                = '4. Быть удобной для логистики и транспортировки. '
            |А это прямая базовая обязанность упаковки. От нее ожидаются компактность, удобство, информативность.
            |Мы продумываем ее эргономичность и расположение необходимой информации.
        p.blog-content__paragraph
            strong.blog-content__paragraph--black
                = '5. Быть приятной для глаз и на ощупь. '
            |Креативность – вот что выделит продукт на полке среди других товаров. Искусство дизайна маленькой
            |упаковки в чем-то сродни искусству большой архитектуры, когда множество практических задач совмещаются
            |в одном элегантном решении. Для нас упаковка – продолжение и развитие вашего продукта, возможность
            |добавить ему «изюминку». Чтобы подобрать то самое правильное решение, мы соединяем: ожидания будущего
            |покупателя, экспертные знания автора продукта и свободу художника-дизайнера. Делаем все, чтобы нашу
            |упаковку захотелось взять в руки.