section.questions
    div(class='questions__wrapper wrapper')
        h3(class='questions__title') Есть вопросы - спрашивайте!
        p(class='questions__description')
            | Наши менеджеры помогут сориентироваться
            br
            | в огромном рекламно-полиграфическом мире,
            br
            | а дизайнеры
            | разработают
            | оригинальный дизайн
            br
            | с запоминающейся графикой.
        button(class='questions__button') Задать вопрос
