.blog {

  @media (max-width: $bigTablet) {
    display: none;
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: $middleMonitor) {
      margin-bottom: 30px;
    }
  }

  &__container {
    min-height: 650px;
    border-top: 2px solid #dddddf;
    border-bottom: 2px solid #dddddf;
    background-color: #f8f8f8;
    overflow: hidden;

    @media (max-width: $middleMonitor) {
      min-height: 520px;
    }

    @media (max-width: $smallMonitor) {
      min-height: 442px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    transform: translateX(150%);
    transition: .6s ease-out;

    &--show {
      transform: translateX(0);
    }

    @media (max-width: $middleMonitor) {
      padding-top: 64px;
    }

    @media (max-width: $smallMonitor) {
      padding-top: 54.4px;
    }
  }

  &__subtitle {
    font-family: RobotoBold, sans-serif;
    font-size: 21.48px;
    line-height: 13px;
    text-transform: uppercase;
    color: #504e53;

    @media (max-width: $middleMonitor) {
      font-size: 17.18px;
      line-height: 10.4px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 14.6px;
      line-height: 8.84px;
    }
  }

  &__link-to-all-articles {
    font-size: 17px;
    text-decoration: none;
    color: #61aded;

    @media (max-width: $middleMonitor) {
      font-size: 13.6px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 11.56px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 22px;
    list-style: none;

    @media (max-width: $middleMonitor) {
      margin-top: 17.6px;
    }

    @media (max-width: $smallMonitor) {
      margin-top: 14.96px;
    }
  }
}

/* blog-article */

.blog-article {
  position: relative;
  width: 455px;
  height: 457px;
  padding-top: 278px;
  padding-left: 32px;
  border: 2px solid #e7e7e7;
  background-color: #ffffff;

  @media (max-width: $middleMonitor) {
    width: 364px;
    height: 365.6px;
    padding-top: 222.4px;
    padding-left: 15px;
  }

  @media (max-width: $smallMonitor) {
    width: 309.4px;
    height: 310.76px;
    padding-top: 190.74px;
    padding-left: 15px;
  }

  &__link {
    text-decoration: none;
  }

  &__flag {
    position: absolute;
    top: 0;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 21px;
    background-color: #61aded;
    font-family: 'RobotoBold', sans-serif;
    text-transform: uppercase;
    font-size: 15.15px;
    line-height: 12.84px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;

    @media (max-width: $middleMonitor) {
      left: 19.2px;
      width: 80px;
      height: 16.8px;
      font-size: 12.12px;
      line-height: 10.27px;
    }

    @media (max-width: $smallMonitor) {
      left: 16.32px;
      width: 68px;
      height: 14.28px;
      font-size: 10.3px;
      line-height: 8.72px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: -2px;
    width: 455px;
    height: 255px;
    object-fit: cover;

    @media (max-width: $middleMonitor) {
      left: -1.6px;
      width: 364px;
      height: 204px;
    }

    @media (max-width: $smallMonitor) {
      left: -1.36px;
      width: 309.4px;
      height: 173.4px;
    }
  }

  &__date {
    margin-bottom: 19px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 17px;
    line-height: 70%;
    color: #6e7478;

    @media (max-width: $middleMonitor) {
      margin-bottom: 18.4px;
      font-size: 13.6px;
    }

    @media (max-width: $smallMonitor) {
      margin-bottom: 15.64px;
      font-size: 11.56px;
    }
  }

  &__title {
    height: 50px;
    margin-bottom: 0;
    font-family: 'RobotoBold', sans-serif;
    font-size: 17.69px;
    line-height: 17.69px;
    color: #504e53;

    @media (max-width: $middleMonitor) {
      height: 39px;
      font-size: 14.15px;
      line-height: 14.15px;
    }

    @media (max-width: $smallMonitor) {
      height: 31px;
      font-size: 12.02px;
      line-height: 12.02px;
    }
  }

  &__description {
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15.16px;
    line-height: 20.21px;
    color: #6e7478;

    @media (max-width: $middleMonitor) {
      margin-right: 4px;
      font-size: 12.46px;
      line-height: 19.73px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 10px;
      line-height: 14px;
    }
  }
}
