.blog {
  &__title {
    margin-bottom: 40px;

    @media (max-width: $middleMonitor) {
      margin-bottom: 30px;
    }

    @media (max-width: $tablet) {
      margin-top: 25px;
    }
  }

  &__container {
    padding: 73px 0;
    border-top: 2px solid #dddddf;
    border-bottom: 2px solid #dddddf;
    background-color: #f8f8f8;
    overflow: hidden;

    @media (max-width: $middleMonitor) {
      padding: 53px 0;
    }

    @media (max-width: $smallMonitor) {
      padding: 43px 0;
    }

    @media (max-width: $bigPhone) {
      padding: 20px 0;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 21.48px;
    line-height: 90%;
    text-transform: uppercase;
    color: #504e53;

    @media (max-width: $middleMonitor) {
      margin-bottom: 20px;
      font-size: 17.18px;
    }

    @media (max-width: $smallMonitor) {
      margin-bottom: 15px;
      padding-left: 5px;
      font-size: 14.6px;
    }

    @media (max-width: $bigPhone) {
      padding-left: 0;
      font-size: 12px;
    }
  }

  &__link-to-all-articles {
    font-size: 17px;
    text-decoration: none;
    color: #61aded;

    @media (max-width: $middleMonitor) {
      font-size: 13.6px;
    }

    @media (max-width: $smallMonitor) {
      font-size: 11.56px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1441px;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: $middleMonitor) {
      width: 1153px;
    }

    @media (max-width: $smallMonitor) {
      width: 980px;
    }

    @media (max-width: $tablet) {
      width: 726px;
    }

    @media (max-width: $bigPhone) {
      width: 355px;
    }

    @media (max-width: $smallPhone) {
      width: 302px;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    list-style: none;
    transition: transform 0.6s ease;
  }

  &__item {
    flex: 0 0 33.3333333333%; /* ширина слайда */
    max-width: 33.3333333333%;
    padding: 0 10px;

    @media (max-width: $smallMonitor) {
      padding: 0 5px;
    }

    @media (max-width: $bigPhone) {
      flex: 0 0 100%; /* ширина слайда */
      max-width: 100%;
      padding: 0;
    }
  }
}

/* blog-article */

.blog-article {
  position: relative;
  height: 457px;
  padding-top: 278px;
  padding-left: 32px;
  border: 2px solid #e7e7e7;
  background-color: #ffffff;

  @media (max-width: $middleMonitor) {
    height: 365.6px;
    padding-top: 222.4px;
    padding-left: 15px;
  }

  @media (max-width: $smallMonitor) {
    height: 310.76px;
    padding-top: 190.74px;
    padding-left: 15px;
  }

  @media (max-width: $bigPhone) {
    max-width: 100%;
    height: 310.76px;
    padding-top: 190.74px;
    padding-left: 10px;
  }

  &__link {
    text-decoration: none;
  }

  &__flag {
    position: absolute;
    top: 0;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 21px;
    background-color: #61aded;
    font-family: 'RobotoBold', sans-serif;
    text-transform: uppercase;
    font-size: 15.15px;
    line-height: 12.84px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;

    @media (max-width: $middleMonitor) {
      left: 19.2px;
      width: 80px;
      height: 16.8px;
      font-size: 12.12px;
      line-height: 10.27px;
    }

    @media (max-width: $smallMonitor) {
      left: 16.32px;
      width: 68px;
      height: 14.28px;
      font-size: 10.3px;
      line-height: 8.72px;
    }

    @media (max-width: $bigPhone) {
      left: 10px;
      width: 80px;
      height: 20px;
      font-size: 12px;
      line-height: 120%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 255px;
    object-fit: cover;

    @media (max-width: $middleMonitor) {
      height: 204px;
    }

    @media (max-width: $smallMonitor) {
      height: 173.4px;
    }
  }

  &__date {
    margin-bottom: 19px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 17px;
    line-height: 70%;
    color: #6e7478;

    @media (max-width: $middleMonitor) {
      margin-bottom: 18.4px;
      font-size: 13.6px;
    }

    @media (max-width: $smallMonitor) {
      margin-bottom: 15.64px;
      font-size: 11.56px;
    }
  }

  &__title {
    height: 50px;
    margin-bottom: 0;
    font-family: 'RobotoBold', sans-serif;
    font-size: 17.69px;
    line-height: 17.69px;
    color: #504e53;

    @media (max-width: $middleMonitor) {
      height: 39px;
      font-size: 14.15px;
      line-height: 14.15px;
    }

    @media (max-width: $smallMonitor) {
      height: 31px;
      font-size: 12.02px;
      line-height: 12.02px;
    }

    @media (max-width: $tablet) {
      height: 31px;
      font-size: 12.02px;
      line-height: 12.02px;
    }
  }

  &__description {
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15.16px;
    line-height: 20.21px;
    color: #6e7478;
    overflow: scroll;
    height: 57px;

    @media (max-width: $middleMonitor) {
      margin-right: 4px;
      font-size: 12.46px;
      line-height: 19.73px;
    }

    @media (max-width: $smallMonitor) {
      height: 42px;
      font-size: 10px;
      line-height: 14px;
    }

    @media (max-width: $tablet) {
      height: 42px;
      font-size: 11px;
      line-height: 120%;
    }
  }
}
