section(class='modal-window modal-window__overlay' role='dialog' aria-modal='true')
    div(class='modal-window__wrapper')
        h2.visually-hidden Задать вопрос
        button(class='modal-window__close-btn' aria-label='Закрыть окно')
        form(class='modal-window__form ask-form' method='post' action='#')
            p.modal-window__successful-message Ваш вопрос успешно отправлен
            label(class='modal-window__label' for='name') Имя
            input#name(class='modal-window__input' name='f_name')
            label(class='modal-window__label' for='number') Телефон
            input#number(class='modal-window__input' name='f_number')
            label(class='modal-window__label' for='message') Ваш вопрос
            textarea#message(class='modal-window__input modal-window__input--textarea' name='f_message')
            button(type='submit' class='modal-window__apply-btn') Отправить