section.introduction
    div(class='introduction__wrapper wrapper')
        h1.visually-hidden COLOR BOX - рекламно-производственная компания
        p(class='introduction__subtitle')
            | Выходим за
            b(class='introduction__subtitle--bold') рамки
            span(class='introduction__subtitle--span') ВОЗМОЖНОГО
        p(class='introduction__description')
            | Индивидуальный подход
            br
            | к каждому проекту позволяет нам находить фантастически привлекательные решения
            br
            | для самых
            | неординарных задач