.level-two-introduction {
  background: #01aff1;

  @media (max-width: $tablet) {
    margin-top: 0 !important;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    margin-top: 60px;

    @media (max-width: $smallMonitor) {
      min-height: 100px;
      margin-top: 40px;
    }

    @media (max-width: $tablet) {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    @media (max-width: $smallMonitor) {
      font-size: 25.81px;
    }

    @media (max-width: $bigPhone) {
      font-size: 22px;
    }
  }

  &__description {
    font-family: 'RobotoLight', sans-serif;
    font-size: 19px;
    color: #ffffff;
    text-align: center;
  }
}