.clients__wrapper {
  position: relative;
  padding-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1456px;
    height: 32px;
    transform: translateX(-50%);
    background: url("./images/line-bottom.png") no-repeat center;
    background-size: cover;
  }
}

.clients__title {
  margin-top: 70px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  opacity: 0;
  transition: 1.2s ease-out;
}

.clients__list--show {
  opacity: 1;
}

.clients__item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin-bottom: 45px;
}

.clients__image {
  object-fit: contain;
}

@media (max-width: $middleMonitor) {
  .clients__wrapper {
    padding-bottom: 50px;

    &::after {
      width: 1164.8px;
      height: 25.6px;
    }
  }

  .clients__title {
    margin-top: 70px;
  }

  .clients__item {
    width: 272px;
    margin-bottom: 36px;
  }
}

@media (max-width: $smallMonitor) {
  .clients__wrapper {
    padding-bottom: 50px;

    &::after {
      width: 990.08px;
      height: 21.76px;
    }
  }

  .clients__item {
    width: 231.2px;
    margin-bottom: 30.6px;
  }
}

@media (max-width: $bigTablet) {
  .clients__wrapper {
    position: relative;
    padding-bottom: 0;

    &::after {
     display: none;
    }
  }

  .clients__title {
    margin-bottom: 61.75px;
  }

  .clients__item {
    width: 50%;
    margin-bottom: 42.75px;

    &:nth-child(12) {
      display: none;
    }
    &:last-child {
      display: none;
    }
  }

  .clients__image {
   object-fit: cover;
  }
}

@media (max-width: $tablet) {
  .clients__title {
    margin-bottom: 43.22px;
  }

  .clients__item {
    margin-bottom: 29.92px;
  }
}

@media (max-width: $bigPhone) {
  .clients__title {
    margin-bottom: 35px;
  }

  .clients__item {
    margin-bottom: 30px;
  }

  .clients__image {
    width: 70%;
    height: auto;
  }
}

@media (max-width: $smallPhone) {
  .clients__title {
    margin-bottom: 30px;
  }

  .clients__item {
    margin-bottom: 25.5px;
  }
}