section#clients.clients
    div(class='clients__wrapper wrapper')
        h2(class='clients__title section-title') Клиенты
        ul(class='clients__list')
            li(class='clients__item')
                img(src='./images/clients/client_1.jpg' alt='логотип dr.Reddy`s' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_2.jpg' alt='логотип Weatherford' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_3.jpg' alt='логотип БиоТэк' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_4.jpg' alt='логотип Loreal professionnel' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_5.jpg' alt='логотип Paris Dentsply Sirona' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_6.jpg' alt='логотип IHS Markit' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_7.jpg' alt='логотип ВТБ' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_8.jpg' alt='логотип Издательский дом журнала Здоровье' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_9.jpg' alt='логотип Российская газета' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_10.jpg' alt='логотип Swissotel' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_11.jpg' alt='логотип Zeldis' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_12.jpg' alt='логотип Nobel' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_13.jpg' alt='логотип Европейский союз производителей' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_14.jpg' alt='логотип Газпром инвестпроект' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_15.jpg' alt='логотип Российские железные дороги' class='clients__image')
            li(class='clients__item')
                img(src='./images/clients/client_16.jpg' alt='логотип Эксперт Медиахолдинг' class='clients__image')